.background{
  background-color: dimgray;
  width: 40%;
  height: 600px;
  text-align: center;
  font-size: 200%;
  color:white;
}
.sidebar{
  background-color: dimgray;
  width: 25%;
  height: 600px;
  text-align:center;
  font-size: 200%;
  color: white;
  margin-top: 30px;
}
